html
    head
        title= Consent
        link(rel="stylesheet", href="style.css")
    body
        h1= "Consent"
        p= "Do you accept these scopes?"
        ul
            each scp in scope
                li= scp
        div
            form(action="/accept", method="POST", style="display:inline;")
                input(name="state", type="hidden", value=state)
                input(name="scope", type="hidden", value=scope)
                button(type="submit").
                    Yes
            form(action="/decline", method="POST", style="display:inline;")
                input(name="state", type="hidden", value=state)
                button(type="submit").
                    No