html
    head
        title= Consent
        link(rel="stylesheet", href="style.css")
    body
        h1= "Consent"
        form(action="/accept", method="POST")
            input(name="state", type="hidden", value=state)
            input(name="scopes", type="hidden", value=scopes)
            p= "Do you accept these scopes?"
            ul
                each scope in scopes
                    li= scope
            button(type="submit").
                Yes
        form(action="/decline", method="POST")
            input(name="state", type="hidden", value=state)
            button(type="submit").
                No
        